:root {
  font-family: "JetBrains Mono", monospace;
}

html {
  min-height: 100%;

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

header {
  display: block;
  height: 60px;
  padding: 10px;
  box-shadow: 0 5px 25px var(--shadow-color);
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
